In [1]:
import pandas as pd

In [2]:
# bla = pd.read_csv('example.scale.txt', delim_whitespace=True, comment='#', index_col=6)
bla = pd.read_csv('example.scale.txt', delim_whitespace=True, comment='#', header = None)

In [3]:
bla

   0  1  2    3    4       5       6      7
0  1  0  0  0.0  0.1  123456  234567  1.123
1  1  1  0  0.0  0.1  123456  234567  1.123
2  1  2  0  0.0  0.1  123456  234567  1.123
3  1  3  0  0.0  0.1  123456  234567  1.123
4  1  4  0  0.0  0.1  123456  234567  1.123
5  1  5  0  0.0  0.1  123456  234567  1.123
6  1  6  0  0.0  0.1  123456  234567  1.123
7  1  7  0  0.0  0.1  123456  234567  1.123
8  1  8  0  0.0  0.1  123456  234567  1.123

In [4]:
bla.columns = ["pix", "layerorside", "ladderorblade", "etaMin", "etaMax", "irunMin", "irunMax", "value"]

bla

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
0    1            0              0     0.0     0.1   123456   234567  1.123
1    1            1              0     0.0     0.1   123456   234567  1.123
2    1            2              0     0.0     0.1   123456   234567  1.123
3    1            3              0     0.0     0.1   123456   234567  1.123
4    1            4              0     0.0     0.1   123456   234567  1.123
5    1            5              0     0.0     0.1   123456   234567  1.123
6    1            6              0     0.0     0.1   123456   234567  1.123
7    1            7              0     0.0     0.1   123456   234567  1.123
8    1            8              0     0.0     0.1   123456   234567  1.123

In [7]:
bla [(bla['etaMin'] == 0.0) & (bla['etaMax'] == 0.1) ]
#bla ["etaMin=0.0 & etaMax=0.1"]

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
0    1            0              0     0.0     0.1   123456   234567  1.123
1    1            1              0     0.0     0.1   123456   234567  1.123
2    1            2              0     0.0     0.1   123456   234567  1.123
3    1            3              0     0.0     0.1   123456   234567  1.123
4    1            4              0     0.0     0.1   123456   234567  1.123
5    1            5              0     0.0     0.1   123456   234567  1.123
6    1            6              0     0.0     0.1   123456   234567  1.123
7    1            7              0     0.0     0.1   123456   234567  1.123
8    1            8              0     0.0     0.1   123456   234567  1.123