In [1]:
import pandas as pd

In [2]:
# bla = pd.read_csv('example.scale.txt', delim_whitespace=True, comment='#', index_col=6)
bla = pd.read_csv('example.scale.txt', delim_whitespace=True, comment='#', header = None)

#
# read from text file, using as delimiter white spaces, neglecting the comment lines #, 
# and not checking for the header, that otherwise would have been interpreted as column names
#

In [3]:
bla

   0  1  2    3    4       5       6      7
0  1  0  0  0.0  0.1  123456  234567  1.123
1  1  1  0  0.1  0.2  123456  234567  1.123
2  1  2  0  0.2  0.3  123456  234567  1.123
3  1  3  0  0.3  0.4  123456  234567  1.123
4  1  4  0  0.4  0.5  123456  234567  1.123
5  1  5  0  0.5  0.6  123456  234567  1.123
6  1  6  0  0.6  0.7  123456  234567  1.123
7  1  7  0  0.7  0.8  123456  234567  1.123
8  1  8  0  0.8  0.9  123456  234567  1.123

In [4]:

bla.columns = ["pix", "layerorside", "ladderorblade", "etaMin", "etaMax", "irunMin", "irunMax", "value"]

bla

#
# define column names, used later to apply cuts
#

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
0    1            0              0     0.0     0.1   123456   234567  1.123
1    1            1              0     0.1     0.2   123456   234567  1.123
2    1            2              0     0.2     0.3   123456   234567  1.123
3    1            3              0     0.3     0.4   123456   234567  1.123
4    1            4              0     0.4     0.5   123456   234567  1.123
5    1            5              0     0.5     0.6   123456   234567  1.123
6    1            6              0     0.6     0.7   123456   234567  1.123
7    1            7              0     0.7     0.8   123456   234567  1.123
8    1            8              0     0.8     0.9   123456   234567  1.123

In [5]:
bla [(bla['etaMin'] == 0.0) & (bla['etaMax'] == 0.1) ]

#
# How to apply cuts
#

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
0    1            0              0     0.0     0.1   123456   234567  1.123

In [6]:
bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.5) ]

#
# How to apply cuts: the return is still a dataframe
#

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
2    1            2              0     0.2     0.3   123456   234567  1.123
3    1            3              0     0.3     0.4   123456   234567  1.123
4    1            4              0     0.4     0.5   123456   234567  1.123

In [7]:


bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.3) ]

#
# How to apply cuts: the return is still a dataframe even if it is only one row
#

   pix  layerorside  ladderorblade  etaMin  etaMax  irunMin  irunMax  value
2    1            2              0     0.2     0.3   123456   234567  1.123

In [8]:

bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.5) ] ['value']

2    1.123
3    1.123
4    1.123
Name: value, dtype: float64

In [9]:
bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.5) ].iloc[0]['value']

#
# Here is how to access the "value" of the single row:
#    [0] since I want the first row, since I have only 1 row selected!
#

1.123

In [10]:
bla [(bla['etaMin'] <= 0.2) & (bla['etaMax'] >= 0.5) ]

Empty DataFrame
Columns: [pix, layerorside, ladderorblade, etaMin, etaMax, irunMin, irunMax, value]
Index: []

In [11]:
bla [(bla['etaMin'] <= 0.2) & (bla['etaMax'] >= 0.5) ].size

#
# I need to check the size, otherwise I cannot access the position [0] as before
#

0

In [12]:
bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.5) ].size

24

In [13]:
len(bla [(bla['etaMin'] >= 0.2) & (bla['etaMax'] <= 0.5) ].index)

3

In [14]:
len(bla [(bla['etaMin'] <= 0.2) & (bla['etaMax'] >= 0.5) ].index)

#
# And these last 3 instructions are the cleanest way to access the dimension of the returned fataframe
#

0